<div class="row">
        <div class="contenedor">
             <div>
                  <a href=""><img src="../../../assets/argprog.png" id="argprog"></a>
             </div>
             <div class="redes">
                     <a href=""><img src="../../../assets/linkedin.png"></a>
                     <a href=""><img src="../../../assets/github1.png"></a>
                     <a href=""><img src="../../../assets/instagram.png"></a>
                     <a href=""><img src="../../../assets/facebook.png"></a>
                     <a href=""><img src="../../../assets/twitter.png"></a>
                     <button type="button" class="btn btn-dark" (click)="login()" *ngIf="!isLogged">LOGIN</button>
                     <button type="button" class="btn btn-dark" (click)="onLogOut()" *ngIf="isLogged">SALIR</button>
             </div>
        </div>
 </div>

